
*{
    padding: 0%;
    margin: 0%;
}
.container{
  height: 100vh;
    display: grid;
    grid-template-columns: 17% 5fr;
    gap:2px;
}
.sidebar{
  display: grid;
  background-color: cadetblue;
  grid-template-rows:1fr 4fr 3fr ;
}
.dash{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.dashImg{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.dashImg img{
  width: 50%;
  height: auto;
}
.dashLogo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.dashLogo p{
  font-size: 100%;
}
.container1{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}
.container2{
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: space-evenly;
}


.content{
  display: grid;
  height: 100%;
 background-color: black;
   grid-template-rows: 15% 85%;
  
}
.headers{
  background-color: aquamarine;
display: grid;
grid-template-rows: 50% 50%; 

}
.searchBox{
  padding: 0;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;

}
img{
  height: 40%;
  width: 10%;

}
.searchBox input{
  width:40%;
  border-radius: 5%;
}

.introBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.accountBox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonBox{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.buttonBox button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70%;
width:20%;
height: 50%;
border-radius: 2rem;
}
.mainContent{
  background-color: blue;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
 }
 .projects{
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

 }
 .projects1{
  height:100%;
  padding: 5%;
  display: grid;
  grid-template-rows: 20% 40% 40%;

 }
  .projects1 ~ div {
  height:100%;
  padding: 5%;
  display: grid;
  grid-template-rows: 20% 30% 35%;
 }
 
 .head{
 
 }
 .desc{
 
 }
 .option{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
 }
 .announce{
  display: grid;
  grid-template-rows: 50% 50%;

 }